/* ###################################################################### */
/* HTML standart Tags */
/* ###################################################################### */

body, html { margin: 0; padding: 0; width: 100%; height: 100%;}
a {text-decoration: none;}

/* ###################################################################### */
/* Zusammengefaste Klassen  */
/* ###################################################################### */

footer {
  background: #fff;
}

.pf_page{
  background: #444444;
}
#Kontakt h2{
  color: #fff;
}

p, a, header, nav ul li a, header nav ul li {
  color: #999;
}

#UeberUns h2, #Leistungen h2, header nav ul li a:hover{
  color: #111;
}

p, header nav ul li{
  font-family: ‘Lato‘,sans-serif;
}

h2{
  font-family: "alternate-gothic-no-1-d", Arial, sans-serif;
}

header, header nav ul li a, header nav ul, header #pf_logo{
  transition: all 300ms; -moz-transition: all 300ms; -ms-transition: all 300ms; -o-transition: all 300ms; -transition: all 300ms;
}

/* ###################################################################### */
/* Umfassende Objekte und Klassen */
/* ###################################################################### */

.pf_page {
  width: 100%; min-height: 100%; overflow: hidden; float: left;
}