


/* ###################################################################### */
/* Über Uns*/
/* ###################################################################### */

#UeberUns .pf_UeberUns {width: 42.5%; float: left; margin:50px 2.5% 0 5%;}
#UeberUns .pf_UeberUns:last-child { width: 42.5%; float: left; margin: 50px 5% 0 2.5%; }
#UeberUns .pf_UeberUns article {width: 100%; text-align: center; margin:100px auto 100px auto;  }

#UeberUns .pf_motto_bg {
  background:url(../images/bifrost_pink.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#UeberUns .pf_motto_bg article .pf_motto {
  display: inline-block;
  margin: 0 auto 0 auto;
  width: 40%;
  text-align: center;
  font-size: 45px;
  line-height: 60px!important;
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  #UeberUns .pf_UeberUns article p { text-align: justify; font-size: 16px;}
  #UeberUns .pf_UeberUns { width: 80%!important; float: left!important; margin: 50px 10% 0 10%!important; }
  #UeberUns .pf_UeberUns:last-child { width: 80%!important; float: left!important; margin: 50px 10% 0 10%!important; }
  #UeberUns .pf_UeberUns article { margin: 20px 0 0 0!important; }
  #UeberUns .pf_motto_bg article .pf_motto { font-size: 50px; line-height: 22px; width: 70%; margin: 20px 0 20px 0; }
}

@media screen and (min-width: 1600px) {
  #UeberUns .pf_motto_bg article .pf_motto { font-size: 80px; line-height: 100px!important; width: 70%;}
  #UeberUns .pf_UeberUns article p { font-size: 24px; line-height  :40px!important;}
}

@media screen and (min-width: 1800px) {
  #UeberUns .pf_motto_bg article .pf_motto { font-size: 100px; line-height: 150px; width: 70%;}
}

@media screen and (min-width: 2300px) {
  #UeberUns .pf_motto_bg article .pf_motto { font-size: 100px; line-height: 190px; width: 70%;}
}

/* ###################################################################### */
/* Leistungen */
/* ###################################################################### */

#Leistungen { margin-bottom: 5%;}

#Leistungen .pf_leistungen { width: 90%; margin: 50px auto 0 auto;}
#Leistungen .pf_leistungen ul { width: 100%; height:100%; margin: 0; padding: 0;}
#Leistungen .pf_leistungen ul li { position: relative; list-style: none; width: 30%; margin: 0 5% 0 0; float: left;background-position: left ; background-size: cover; background-attachment: fixed; min-height: 450px;}
#Leistungen .pf_leistungen ul li:last-child { margin: 0 0 0 0;}

#Leistungen .pf_leistungen ul li .pf_tag_line { position: absolute; bottom: 25px; width: 80%; left: 25px;}
#Leistungen .pf_leistungen ul li .pf_tag_line .pf_h3_balken { margin: 0 0 10px 0;}
#Leistungen .pf_leistungen ul li .pf_tag_line p { margin: 0; padding: 0;}
#Leistungen .pf_leistungen ul li .pf_tag_line h3 { text-transform: uppercase; font-size: 45px; margin: 0 0 10px 0;}

#Leistungen { margin-bottom: 5%;}

@media screen and (max-width: 1150px) {
  #Leistungen { width: 100%;}
  #Leistungen .pf_leistungen ul {height: 70%;}
  #Leistungen .pf_leistungen ul li { width: 80%; margin: 0 10% 5% 10%;}
  #Leistungen .pf_leistungen ul li .pf_tag_line { position: relative; float: left!important; width: 80%!important; margin: 20% 10% 5% 0;}
  #Leistungen .pf_leistungen ul li .pf_tag_line h3 { font-size: 40px; line-height: 45px;}
  #Leistungen .pf_leistungen ul li .pf_tag_line p {margin: 0; padding: 0; float: left; text-align: justify;}
  #Leistungen .pf_leistungen ul li:last-child { margin: 0 10% 5% 10%;}
}


