


/* ###################################################################### */
/* Über Uns*/
/* ###################################################################### */

#UeberUns .pf_UeberUns {width: 42.5%; float: left; margin:50px 2.5% 0 5%;}
#UeberUns .pf_UeberUns:last-child { width: 42.5%; float: left; margin: 50px 5% 0 2.5%; }
#UeberUns .pf_UeberUns article {width: 100%; text-align: center; margin:100px auto 100px auto;  }

#UeberUns .pf_motto_bg {
  background:url(../images/bifrost_pink.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

}



